/**
 * COMMON STYLE
 */
body{color:black;}
li{list-style:none;}
h3{margin-bottom:10px;}

.center{text-align:center;}
.container {width: 978px;margin: 0 auto;}
.content {min-height: 420px;}
.main{width:640px; float: left;}
.side{width:300px; float: right;}

.help-block {color:#888;}
/**
 * HEADER
 */
#header {
  height:48px;
  position: relative;
  margin: 0 auto 18px;
  padding: 8px 0 0;
  border-bottom: 1px solid #e9e9e9;
  background-color: #F9F9F9;
  /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.05);*/
}
#header .header {
}
#header .logo, #header .nav-item {float: left; height: 36px; line-height: 36px;}
#header .logo {font-weight: bold;font-size: 30px; margin-right: 20px; color:green;}
#header .nav-item li { float:left; position:relative; bottom:-1px; margin:0 8px;}
#header .nav-item li a{
  border:1px solid #f9f9f9;
  border-bottom-color:#e9e9e9;
  display:block; font-size:20px; font-weight:bold; padding:5px 10px; color:#000; list-style:none;
  color:#000;height: 36px; line-height: 36px;
}
#header .nav-item li.active a,
#header .nav-item li a:hover {
  background-color:#ffffff; border:1px solid #ddd; border-bottom-color:transparent; 
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
#header .user-status {float:right; padding:10px; width:160px; }
#header .user-status > a {font-size:15px; color:green; margin:0 5px;}

#footer {
    clear: both;
    margin: 30px 0;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.w-new-link { text-align: center; }
.w-new-link .btn{width: 150px;}

/* 投票 */
.icon-thumbs-up.on { background-position: 0px -167px; }
.icon-thumbs-down.on { background-position: -24px -167px; }
/* END */

/* link列表 */
.urllist .ulitem {border-top: solid 1px #eee; margin-bottom:2px; padding:5px 0;}
.ulitem .vote{width:5ex; float:left; overflow:hidden; text-align:center; margin-right:10px; opacity:1;}
.ulitem .vote .num{font-weight: bold; font-size:12px;height:12px;line-height:12px; display:block;}
.ulitem .ulinfo{overflow:hidden; opacity:1;}
.ulitem .title{font-size:16px; font-weight:bold;}
.ulitem .host, .ulitem .host a{color:#888;}
.ulitem a.title:visited{color:#004F77;}
.ulitem .avatar{float: right; border:solid 1px #eee;}
.ulitem .avatar img{ width:32px; height:32px; border:none;}
.ulitem .ino{margin:5px 0; color:#888; font-size:13px;}
.ulitem .ino a{color:#369;}
.ulitem .edi a{margin-right:8px;}
.ulitem .tags a{background:#E1F0F7; color:#259; padding:3px 5px; font-size:12px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
.ulitem .tags a:hover{background:#259;/*#C6401B*/ color:#fff; text-decoration:none;}
#loadmorelink{display:block;}

/* box */
.bbox {
  margin-bottom:10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.sbox {padding:10px 0;}
.sbox .title {font-size:18px; font-weight:bold; color:#555; margin:0 0 5px;}
.sbox + .sbox {border-top:solid 1px #eee; margin-top:10px;}

/* 小图片列表 */
.llimgs{margin:0;}
.llimgs li, .llimgs a.i{float:left; padding:1px; margin-right:3px; border:solid 1px #eee; width:32px; height:32px; overflow:hidden;}

/* 用户信息页 */
.base-uinfo .ifo {border-bottom:solid 1px #eee; padding:10px;}
.base-uinfo .ifo .avatar{float:left; width:128px; height:128px; 
  line-height:128px; 
  margin:0 auto;
  text-align:center;
  vertical-align:middle;
  overflow:hidden;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.base-uinfo .ifo .avatar img{
    
}
.base-uinfo .ifo .detail{margin-left:150px;}
.base-uinfo .ifo .detail .name{font-weight:bold; font-size:28px; line-height:28px;}
.base-uinfo .edi{padding:8px;}
.base-uinfo .edi .btn{float:right;}

/* 用户信息页 END */


/* link show */
.linkshow .comment-top .t{border-bottom: 1px dotted gray;margin-bottom:3px;}
.linkshow .comment-top .t b{font-size:14px;}
#comment-content, #r-comment-content{width:500px; height:100px; display:block;}
#reply-form{ margin-bottom:15px; }
/* 评论列表 */
#comment-list{}
#comment-list .cd{ padding-left:10px; margin-top:8px; border-left:1px dotted #ddf; }
#comment-list .cm{ margin:8px 0; }
#comment-list .cm .vt{ float:left; width:15px; margin-right:5px; padding-top:3px;}
#comment-list .cm .vt a{display:block;}
#comment-list .cm .ct { overflow:hidden; opacity:1; }
#comment-list .collapsed .ct{ margin-left:18px; }
#comment-list .cm .ct .tx{ margin:5px 0 3px; padding-left:5px;}
#comment-list .cm .ct .uif{ color:#555; font-size:13px; }
#comment-list .cm .ct .ep{ font: normal x-small verdana, sans-serif;}
#comment-list .cm .ct .ep:hover { background-color:#369; color:#fff; text-decoration:none; }
#comment-list .cm .ct .ed, #comment-list .cm .ldmore {font-size:13px;}
#comment-list .cm .ct .ed a{ background-color:#eee; color:#888; padding:0 3px; }
#comment-list .cm .ct .ed a:hover{ background-color:#666; color:#eee; text-decoration:none; }
/* link show END */

/* jquery tip */
.tip-yellowsimple {
  z-index:1000;
  text-align:left;
  border:1px solid #ccc;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow:1px 1px 3px rgba(133, 133, 133, 0.7);
  -moz-box-shadow:1px 1px 3px rgba(133, 133, 133, 0.7);
  -webkit-box-shadow:1px 1px 3px rgba(133, 133, 133, 0.7);
  padding:6px 8px;
  min-width:50px;
  max-width:300px;
  color:#000;
  background-color:#fff;
  /**
   * - If you set a background-image, border/padding/background-color will be ingnored.
   *   You can set any padding to .tip-inner instead if you need.
   * - If you want a tiled background-image and border/padding for the tip,
   *   set the background-image to .tip-inner instead.
   */
}
.tip-yellowsimple .tip-inner {
  padding: 5px;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellowsimple .tip-arrow-top {
  margin-top:-6px;
  margin-left:-5px; /* approx. half the width to center it */
  top:0;
  left:50%;
  width:9px;
  height:6px;
  background:url(../img/tip-whitesimple_arrows.gif) no-repeat;
}
.tip-yellowsimple .tip-arrow-right {
  margin-top:-4px; /* approx. half the height to center it */
  margin-left:0;
  top:50%;
  left:100%;
  width:6px;
  height:9px;
  background:url(../img/tip-whitesimple_arrows.gif) no-repeat -9px 0;
}
.tip-yellowsimple .tip-arrow-bottom {
  margin-top:0;
  margin-left:-5px; /* approx. half the width to center it */
  top:100%;
  left:50%;
  width:9px;
  height:6px;
  background:url(../img/tip-whitesimple_arrows.gif) no-repeat -18px 0;
}
.tip-yellowsimple .tip-arrow-left {
  margin-top:-4px; /* approx. half the height to center it */
  margin-left:-6px;
  top:50%;
  left:0;
  width:6px;
  height:9px;
  background:url(../img/tip-whitesimple_arrows.gif) no-repeat -27px 0;
}
/* end jquery tip */

/* pop info */
.pib.puinfo { width:200px; }
.pib .pic {}
.pib .pic img {width:64px; height:64px; float:left; overflow:hidden; opacity:1; margin-right:5px; }
.pib .ma { font-size:12px; height:64px; color:#888; }
.pib .ma .nm { font-size:14px; font-weight:bold; display:block; margin-bottom:8px; }
.pib .ed{ border-top:1px solid #CCC; margin-top:5px; padding-top:5px;}
/* end pop info */

/* 提示信息 */
.modal.msgmodal{ width:380px;}
.modal.info .modal-header{ }
.modal.success{ color:#468847; border-color:#D6E9C6; }
.modal.success .modal-header { border-bottom:1px solid #D6E9C6; }
.modal.error{ color:#B94A48;  border-color:#EED3D7; }
.modal.error .modal-header { border-bottom:1px solid #EED3D7;}
.modal.error .modal-body { }
/* end 提示信息 */




