/**
 * COMMON STYLE
 */
body{color:black;}
h3{margin-bottom:10px;}
blockquote{background-color:#fcfcfc; margin-bottom:5px; border-left:5px solid #369; padding-left:8px;}
blockquote p{font-size:13px; line-height:16px;}

.center{text-align:center;}
.container {width: 978px;margin: 0 auto;}
.content {min-height: 420px;}
.main{width:640px; float: left;}
.side{width:300px; float: right;}

.nav {margin-bottom:10px;}
.help-block {color:#888;}
.mini {font-size:11px;}
.icon-link { background-position:-72px -167px; margin-right:3px; }
.breadcrumb {/*background-color:#fcfcfc;*/ margin-bottom:5px;}
.breadcrumb a{color:#666;}
.page-header { padding-bottom: 3px; margin: 5px 0 15px; }
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
/**
 * top nav
 */
#top-nav {
  background-color:#545652;
  height:19px;
  font-weight:normal;
  padding:2px 5px;
  font-size: 13px;
  overflow: hidden;
}
#top-nav .separator{color:#777;}
#top-nav, #top-nav a{color:#bbb;}
#top-nav a:hover{color:#ddd;}
#top-nav ul{margin:0; padding:0;}
#top-nav ul li{float:left; margin:0 2px;}
/**
 * HEADER
 */
#header {
  height:38px;
  position: relative;
  margin: 0 auto 18px;
  padding: 3px 0 0;
  border-bottom: 1px solid #e9e9e9;
  background-color: #F6F6F1 /*#F9F9F9*/;
  /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.05);*/
}
#header li, #top-nav li{list-style:none;}
#header .header {
  height:38px;
}
#header .logo, #header .nav-item {float: left; height: 38px; line-height: 38px; margin:0 0 0 25px;}
#header .logo {font-weight:bold; font-size: 28px; margin-right:20px; color:#A31515;}
#header .nav-item {padding-top:8px;}
#header .nav-item li { float:left; position:relative; bottom:-1px; margin:0 8px;}
#header .nav-item li a{
  border:1px solid #f9f9f9;
  border-bottom-color:#e9e9e9;
  display:block; font-size:18px; font-weight:bold; padding:4px 10px; color:#000; list-style:none;
  color:#000; height:20px; line-height:20px;
}
#header .nav-item li.active a,
#header .nav-item li a:hover {
  background-color:#ffffff; border:1px solid #ddd; border-bottom-color:transparent; 
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
#header .user-status {float:right; width:160px; margin-top:2px;}
#header .user-status .not-login {padding-top:10px;}
#header .user-status .not-login > a {font-size:15px; color:green; margin:0 5px;}

#footer {
    clear: both;
    margin: 30px 0;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    color: #888;
}
#footer a {color: #37a;}

.w-new-link { text-align: center; }
.w-new-link .btn{width: 150px;}

/* 投票 */
.icon-thumbs-up.on { background-position: 0px -167px; }
.icon-thumbs-down.on { background-position: -24px -167px; }
/* END */

/*收藏*/
.faved .icon-heart { background-position: -48px -167px; }

/* link列表 */
.urllist .ulitem {border-top: solid 1px #eee; margin-bottom:2px; padding:5px 0;}
.ulitem .vote{width:5ex; float:left; overflow:hidden; text-align:center; margin-right:10px; opacity:1; border:solid 1px #fff;}
.ulitem .vote .num{font-weight: bold; font-size:12px;height:12px;line-height:12px; display:block;}
.ulitem .ulinfo{overflow:hidden; opacity:1;}
.ulitem .link-url{font-size:16px; font-weight:bold; color:#259;}
.ulitem .host, .ulitem .host a{color:#888;}
.ulitem a.link-url:visited{color:#6296BE;}
.ulitem .avatar{float: right; border:solid 1px #eee;}
.ulitem .avatar img{ width:32px; height:32px; border:none;}
.ulitem .ino{margin:5px 0; color:#888; font-size:13px;}
.ulitem .ino a{color:#369;}
.ulitem .edi a{margin-right:8px; color:#777;}
.ulitem .edi a:hover{color:#6296BE;}
.ulitem .tags a{background:#E1F0F7; color:#406C97; padding:2px 5px; font-size:12px;
/*    border-bottom: 1px #98BED3 solid;
    border-right: 1px #98BED3 solid;*/
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
.ulitem .tags a:hover{background:#259;/*#C6401B*/ color:#fff; text-decoration:none; }
.ulitem:hover .vote{
  color: #3A87AD;
  background-color: #F9FDFF;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #BCE8F1;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#loadmorelink{display:block;}

/* box */
.bbox {
  margin-bottom:10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.sbox {padding:10px 0;}
.sbox .title {font-size:18px; font-weight:bold; color:#555; margin:0 0 5px;}
.sbox + .sbox {border-top:solid 1px #eee; margin-top:10px;}

/* 小图片列表 */
.llimgs{margin:0;}
.llimgs li, .llimgs a.i{float:left; padding:0px; margin-right:2px; margin-bottom:2px; border:solid 1px #eee; width:32px; height:32px; overflow:hidden;}

/* 用户信息页[顶部信息] */
.base-uinfo .ifo {border-bottom:solid 1px #eee; padding:10px 10px 0px;}
.base-uinfo .ifo .avatar{float:left; width:90px; height:90px; 
  line-height:90px; 
  margin:0 auto;
  text-align:center;
  vertical-align:middle;
  overflow:hidden;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.base-uinfo .ifo .avatar img{
  width:90px; height:90px;
}
.base-uinfo .ifo .detail{margin-left:110px;}
.base-uinfo .ifo .detail .name{font-weight:bold; font-size:28px; line-height:28px;}
.base-uinfo .edi{padding:5px 8px;}
.base-uinfo .edi .btn{float:right;}
/* 用户信息页 END */

/*话题信息页 顶部信息*/
.topic-tinfo {border-bottom:solid 1px #eee; padding:2px; margin-bottom:10px;}
.topic-tinfo .avatar{float:left; width:50px; height:50px; 
  line-height:50px; 
  margin:0 auto;
  text-align:center;
  vertical-align:middle;
  overflow:hidden;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.topic-tinfo .avatar img{
  width:50px; height:50px;
}
.topic-tinfo .detail {padding-left:65px;}
.topic-tinfo .detail .name {font-size:22px; font-weight:bold;}

/*侧栏带图片信息*/
.ppinfo {padding:7px;}
.ppinfo .avatar {border:solid 1px #CAE5F3;}
.ppinfo .avatar img {width:90px; height:90px;}
.ppinfo .detail {padding-left:100px;}
.ppinfo .detail .name {font-weight:bold; font-size:22px;}
/*end*/

/* link show */
.linkshow .comment-top .t{border-bottom: 1px dotted gray;margin-bottom:3px;}
.linkshow .comment-top .t b{font-size:14px;}
#comment-content, #r-comment-content{width:500px; height:100px; display:block;}
#reply-form{ margin-bottom:15px; }
/* 评论列表 */
#comment-list{}
#comment-list .cd{ padding-left:10px; margin-top:8px; border-left:1px dotted #ddf; }
#comment-list .cm{ margin:8px 0; }
#comment-list .cm .vt{ float:left; width:15px; margin-right:5px; padding-top:3px;}
#comment-list .cm .vt a{display:block;}
#comment-list .cm .ct { overflow:hidden; opacity:1; }
#comment-list .collapsed .ct{ margin-left:18px; }
#comment-list .cm .ct .tx{ margin:5px 0 3px; padding-left:5px;}
#comment-list .cm .ct .uif{ color:#999; font-size:13px; }
#comment-list .cm .ct .uif a{color:#c60;}
#comment-list .cm .ct .ep{ font: normal x-small verdana, sans-serif;}
#comment-list .cm .ct .ep:hover { background-color:#369; color:#fff; text-decoration:none; }
#comment-list .cm .ct .ed, #comment-list .cm .ldmore {font-size:13px;}
#comment-list .cm .ct .ed a{ background-color:#eee; color:#888; padding:0 3px; }
#comment-list .cm .ct .ed a:hover{ background-color:#666; color:#eee; text-decoration:none; }
/* link show END */

/*remind*/
#reminder{
  display: none;
  position: fixed;
  z-index: 9998;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #DAC59D;
  top:1px;
  left: 60%;
  width:80px;
}

/* jquery tip */
.tip-yellowsimple {
  z-index:1000;
  text-align:left;
  border:1px solid #ccc;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow:1px 1px 3px rgba(133, 133, 133, 0.7);
  -moz-box-shadow:1px 1px 3px rgba(133, 133, 133, 0.7);
  -webkit-box-shadow:1px 1px 3px rgba(133, 133, 133, 0.7);
  padding:2px 2px;
  min-width:50px;
  max-width:300px;
  color:#000;
  background-color:#fff;
  margin-top:0px;
  /**
   * - If you set a background-image, border/padding/background-color will be ingnored.
   *   You can set any padding to .tip-inner instead if you need.
   * - If you want a tiled background-image and border/padding for the tip,
   *   set the background-image to .tip-inner instead.
   */
}
.tip-yellowsimple .tip-inner {
  padding: 5px;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellowsimple .tip-arrow-top {
  margin-top:-6px;
  margin-left:-5px; /* approx. half the width to center it */
  top:0;
  left:50%;
  width:9px;
  height:6px;
  background:url(../img/tip-whitesimple_arrows.gif) no-repeat;
}
.tip-yellowsimple .tip-arrow-right {
  margin-top:-4px; /* approx. half the height to center it */
  margin-left:0;
  top:50%;
  left:100%;
  width:6px;
  height:9px;
  background:url(../img/tip-whitesimple_arrows.gif) no-repeat -9px 0;
}
.tip-yellowsimple .tip-arrow-bottom {
  margin-top:0;
  margin-left:-5px; /* approx. half the width to center it */
  top:100%;
  left:50%;
  width:9px;
  height:6px;
  background:url(../img/tip-whitesimple_arrows.gif) no-repeat -18px 0;
}
.tip-yellowsimple .tip-arrow-left {
  margin-top:-4px; /* approx. half the height to center it */
  margin-left:-6px;
  top:50%;
  left:0;
  width:6px;
  height:9px;
  background:url(../img/tip-whitesimple_arrows.gif) no-repeat -27px 0;
}
/* end jquery tip */

/* pop info */
.pib.puinfo { width:200px; }
.pib .pic {width:64px; height:64px; line-height:64px; margin-right:5px; text-align:center; overflow:hidden; opacity:1; display:block; float:left;}
.pib .pic img {width:auto; height:auto; /*float:left; overflow:hidden; opacity:1; margin-right:5px;*/ }
.pib .ma { font-size:12px; height:64px; color:#888; }
.pib .ma .nm { font-size:14px; font-weight:bold; display:block; margin-bottom:8px; }
.pib .ed{ border-top:1px solid #CCC; margin-top:5px; padding-top:5px; text-align:right;}
/* end pop info */

/* 提示信息 */
.modal.msgmodal{ width:380px;}
.modal.info .modal-header{ }
.modal.success{ color:#468847; border-color:#D6E9C6; }
.modal.success .modal-header { border-bottom:1px solid #D6E9C6; }
.modal.error{ color:#B94A48;  border-color:#EED3D7; }
.modal.error .modal-header { border-bottom:1px solid #EED3D7;}
.modal.error .modal-body { }
/* end 提示信息 */

/*分享工具拖动提示*/
.drag-arrow {
  width: 190px;
  height: 190px;
  display: none;
  position: absolute;
  bottom: -30px;
  right: 80px;
  background: url(../img/arrow.png) no-repeat;
  z-index: 99999;
}
/*end*/

.link-del { color:#999; }

#feedback_tab{
  top: 25%;
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  z-index: 111110000;
  font-family: '';
  font-size: 16px;
  background-color: transparent;
  width: 30px;
  height: 102px;
  border: medium none;
  margin: 0;
  padding: 0;
  float: none;
  right: 0;
}
#feedback_tab:hover{margin-right: 2px;}

/*link show: link info*/
.side .linkinfo { font-size:12px; }
.side .linkinfo .score .number { font-size:22px; font-weight:bold; }
.side .linkinfo .score .word { font-size:15px; font-weight:bold; }
.side .linkinfo .upvote {color:orangeRed;}
.side .linkinfo .downvote {color:#3A87AD;}
/*end*/

/*scrollTop*/
#scrollTop div {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 149px;
  margin: 0;
  padding: 0
}
#scrollTop .level-2 {
  background: url(images/rocket_up.png) no-repeat scroll -149px 0 transparent;
  display: none;
  height: 250px;
  opacity: 0;
  z-index: 1
}
#scrollTop .level-3 {
  background: none repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 150px;
  z-index: 2
}
#scrollTop {
  background: url(images/rocket_up.png) no-repeat scroll 0 0 transparent;
  cursor: default;
  display: block;
  height: 250px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 80%;
  width: 149px;
  z-index: 11;
  margin: -125px 0 0;
  padding: 0
}
