/**
 * COMMON STYLE
 */
body{color:black;}
li{list-style:none;}
h3{margin-bottom:10px;}
.container {width: 978px;margin: 0 auto;}
.content {min-height: 420px;}
.main{width:640px; float: left;}
.side{width:300px; float: right;}

.help-block {color:#888;}
/**
 * HEADER
 */
#header {
    margin: 0 auto 28px;
    padding: 8px 0 5px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #F9F9F9;
    /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.05);*/
}
#header .header {
}
#header .logo, #header .nav-item {float: left; height: 36px; line-height: 36px;}
#header .logo {font-weight: bold;font-size: 30px; margin-right: 20px; color:green;}
#header .nav-item li {float: left; font-size: 20px; font-weight: bold; margin: 5px 10px; color: #000; list-style: none;}
#header .nav-item li a{color:#000;height: 36px; line-height: 36px;}
#header .user-status {float:right; padding:10px; width:160px; }
#header .user-status > a {font-size:15px; color:green; margin:0 5px;}

#footer {
    clear: both;
    margin: 30px 0;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.w-new-link { text-align: center; }
.w-new-link .btn{width: 150px;}

/* link列表 */
.urllist .uitem {border-top: solid 1px #eee; margin-bottom:2px; padding:5px 0;}
.urllist .uitem .vote{width:5ex; float:left; overflow:hidden; text-align:center; margin-right:10px; opacity:1;}
.urllist .uitem .vote .num{font-weight: bold; font-size:12px;height:12px;line-height:12px; display:block;}
.uitem .uinfo{overflow:hidden; opacity:1;}
.uitem .title{font-size:16px; font-weight:bold;}
.uitem .avatar{float: right; border:solid 1px #eee;}
.uitem .avatar img{ width:32px; height:32px; border:none;}
.uitem .ino{margin:5px 0; color:#888; font-size:13px;}
.uitem .tags a{background:#E1F0F7; color:#259; padding:3px 5px; font-size:12px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
.uitem .tags a:hover{background:#259;/*#C6401B*/ color:#fff; text-decoration:none;}

.bbox {
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.sbox {padding:10px 0;}
.sbox .title {font-size:18px; font-weight:bold; color:#555; margin:0 0 5px;}
.sbox + .sbox {border-top:solid 1px #eee; margin-top:10px;}

/* 小图片列表 */
.llimgs{margin:0;}
.llimgs li{float:left; padding:1px; margin-right:3px; border:solid 1px #eee;}

/* 用户信息页 */
.base-uinfo .ifo {border-bottom:solid 1px #eee; padding:10px;}
.base-uinfo .ifo .avatar{float:left; width:128px; height:128px; 
  line-height:128px; 
  margin:0 auto;
  text-align:center;
  vertical-align:middle;
  overflow:hidden;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.base-uinfo .ifo .avatar img{
    
}
.base-uinfo .ifo .detail{margin-left:150px;}
.base-uinfo .ifo .detail .name{font-weight:bold; font-size:28px; line-height:28px;}
.base-uinfo .edi{padding:8px;}
.base-uinfo .edi .btn{float:right;}

/* 用户信息页 END */

