{{define "title"}}用户绑定 - {{end}}

{{define "head"}}{{end}}

{{define "body"}}
<div class="user-bind-profile {{.Data.profile.ProviderName}}">
    {{if .Data.profileShow.Avatar}}
    <img src="{{.Data.profile.AvatarUrl}}" alt="{{.Data.profileShow.Name}}" title="{{.Data.profileShow.Name}}" style="height: 45px" />
    {{end}}
    欢迎你，
    {{if .Data.profileShow.Link}}
        <a href="{{.Data.profile.Link}}" rel="nofollow" target="_blank">{{.Data.profileShow.Name}}</a>
    {{else}}
        {{.Data.profileShow.Name}}
    {{end}}
    ，就差一步了！选择下面任意一种方式，你就可以正常使用觅链了。^_^
</div>
<div class="row">
    <div class="span6">
        <form class="form-horizontal" method="post" action="/user/login-bind">
            <h3>已有账号? 登陆并绑定</h3>
            {{if .Data.loginErrors}}
            <div class="alert alert-error">
                {{range .Data.loginErrors}}
                <strong>{{.}}</strong><br/>
                {{end}}
            </div>
            {{end}}
            <div class="control-group">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-envelope"></i></span>
                  <input type="text" class="input" placeholder="输入你的Email地址" id="loginEmail" name="email" value="{{.Data.loginValues.email}}">
                </div>
            </div>
            <div class="control-group">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-lock"></i></span>
                  <input type="password" class="input" placeholder="输入你的密码" id="loginPwd" name="pwd">
                </div>
                <p class="help-block">密码区分大小写</p>
            </div>
            <div class="control-group">
                <div class="">
                    <button type="submit" class="btn btn-success btn-large">登陆并绑定</button>
                </div>
            </div>
        </form>
    </div>
    <div class="span5">
        <form class="form-horizontal" method="post" action="/user/create-bind">
            <h3>尚无账号? 创建并绑定</h3>
            {{if .Data.createBindErrors}}
            <div class="alert alert-error">
                {{range .Data.createBindErrors}}
                <strong>{{.}}</strong><br/>
                {{end}}
            </div>
            {{end}}
            <div class="control-group">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-user"></i></span>
                  <input type="text" class="input" placeholder="怎么称呼你?" id="regName" name="name" value="{{.Data.bindValues.name}}">
                </div>
                <p class="help-block">不超过7个汉字或15个字符</p>
            </div>
            {{if .Data.directCreateEmail}}
            <div class="control-group">
                <div class="">
                    <button type="submit" class="btn btn-success btn-large">使用{{.Data.directCreateEmail}}快速创建并绑定</button>
                </div>
            </div>
            {{else}}
            <div class="control-group">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-envelope"></i></span>
                  <input type="text" class="input" placeholder="输入你的Email地址" id="regEmail" name="email" value="{{.Data.bindValues.email}}">
                </div>
            </div>
            <div class="control-group">
                <div class="">
                    <button type="submit" class="btn btn-success btn-large">创建并绑定</button>
                </div>
            </div>
            {{end}}
        </form>
    </div>
</div>
{{end}}

{{define "footer"}}{{end}}
