{{define "title"}}用户登陆 - {{end}}

{{define "head"}}{{end}}

{{define "body"}}
<div class="row">
<div class="span8">
    <form class="form-horizontal" method="post" action="/user/login?{{.Data.query|html}}">
        <h2>登陆</h2>
        {{if .Data.loginErrors}}
        <div class="alert alert-error">
            {{range .Data.loginErrors}}
            <strong>{{.}}</strong><br/>
            {{end}}
        </div>
        {{else}}
            {{if .Data.Required}}
            <div class="alert alert-warn">
                你访问的资源需要登陆，请先登陆！
            </div>
            {{end}}
        {{end}}
        <div class="control-group">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input type="text" class="input" placeholder="输入你的Email地址" id="loginEmail" name="email" value="{{.Data.loginValues.email}}">
            </div>
        </div>
        <div class="control-group">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <input type="password" class="input" placeholder="输入你的密码" id="loginPwd" name="pwd">
            </div>
            <p class="help-block">密码区分大小写</p>
        </div>
        <div class="control-group">
            <div class="">
                <input type="checkbox" id="remeber_me" name="remeber_me" checked="true" value="1"> 
                <label for="remeber_me" style="display:inline;">下次自动登陆</label>
            </div>
        </div>
        <div class="control-group">
            <div class="">
                <button type="submit" class="btn btn-success btn-large">登 陆</button>
            </div>
        </div>

<!--         <div class="control-group">
            <div class="">
                <a href="https://api.weibo.com/oauth2/authorize?forcelogin=true&display=default&client_id=4257644885&response_type=code&redirect_uri=http://www.milnk.com/user/sinaoauthcallback">新浪微博登录</a>
                <a href="#">QQ登录</a>
            </div>
        </div> -->
    </form>
</div>
<div class="span2">
    <div class="sbox">
        <h4>还没有账号？</h4>
        <ul class="nav nav-list">
          <li><a href="/user/reg"><i class="icon-user"></i>注册账号</a></li>
          <li><a href="/user/getpwd"><i class="icon-warning-sign"></i>忘记密码</a></li>
        </ul>
    </div>
</div>
</div>
{{end}}

{{define "footer"}}{{end}}
