<div class="row">
<div class="span6">
    <form class="well" method="post" action="/user/reg">
        <h3>已有账号，直接登陆</h3>
        <label>Email</label>
        <input type="text" class="span3" placeholder="输入你的Email地址">
        <label>密码</label>
        <input type="text" class="span3" placeholder="输入你密码">
        <p class="help-block">密码区分大小写</p>
        <label class="checkbox">
            <input type="checkbox"> 下次自动登陆
        </label>
        <button type="submit" class="btn btn-success btn-large">登 陆</button>
    </form>
</div>
<div class="span6">
    <form class="well" method="post" action="/user/reg">
        <h3>注册一个账号</h3>
        <label>Email</label>
        <input type="text" class="span3" placeholder="输入你的Email地址">
        <label>密码</label>
        <input type="text" class="span3" placeholder="输入你密码">
        <p class="help-block">密码区分大小写</p>
        <label>确认密码</label>
        <input type="text" class="span3" placeholder="输入和上面一致的密码">
        <button type="submit" class="btn btn-success btn-large">注 册</button>
    </form>
</div>
</div>