<div class="pib puinfo">
    <a class="pic" href="/user/{{.Model.Id}}">
        <img src="{{.Model.GetGravatarUrl `64`}}">
    </a>
    <div class="ma">
        <a class="nm" href="/user/{{.Model.Id}}">{{.Model.Name}}</a>
        链接 <strong>{{.Model.LinkCount}}</strong> 个, 
        话题 <strong>{{.Model.TopicCount}}</strong> 个<br>
        关注 <strong>{{.Model.FriendCount}}</strong> 人, 
        粉丝 <strong>{{.Model.FollowerCount}}</strong> 人
    </div>
    <div class="ed">
        {{if .Model.IsMe}}
        <a class="btn disabled" href="javascript:" disabled="disabled">这是你</a>
        {{else}}
            {{if .Model.IsFriend}}
            <a class="btn btn-info btn-small donotfollow" href="javascript:" data-uid="{{.Model.Id}}"><i class="icon-random icon-white"></i> 互相关注</a>
            {{else}}
              {{if .Model.IsFollowed}}
              <a class="btn btn-info btn-small donotfollow" href="javascript:" data-uid="{{.Model.Id}}"><i class="icon-ok icon-white"></i> 已关注</a>
              {{else}}
              <a class="btn btn-success btn-small dofollow" href="javascript:" data-uid="{{.Model.Id}}"><i class="icon-plus icon-white"></i> 关注</a>
              {{end}}
            {{end}}
        {{end}}
    </div>
</div>