{{define "head"}}{{end}}

{{define "body"}}
<div>
    <div class="main">
        <div class="bbox base-uinfo">
            <div class="ifo clearfix">
                <div class="avatar"><img src="{{.Model.GetGravatarUrl `128`}}"/></div>
                <div class="detail">
                    <p class="name">{{.Model.Name}}</p>
                    <p>关注好友 {{.Model.FriendCount}} | 粉丝 {{.Model.FollowerCount}}</p>
                    <p>关注话题 {{.Model.FtopicCount}} | 参与话题 {{.Model.TopicCount}}</p>
                </div>
            </div>
            <div class="edi clearfix">
                <a class="btn btn-primary dofollow" href="javascript:" data-uid="{{.Model.Id}}"><i class="icon-plus icon-white"></i> 关注</a>
            </div>
        </div>

        <div class="bbox urllist">
        </div>

    </div>
    <div class="side">
        <div class="sbox">
            <div class="title">关注 {{.Model.FriendCount}} 人</div>
            <ul class="llimgs clearfix">
                {{range .Data.Friends}}
                <li><img src="{{.GetGravatarUrl `32`}}"/></li>
                {{end}}
            </ul>
        </div>
        <div class="sbox clearfix">
            <div class="title">粉丝 {{.Model.FollowerCount}} 人</div>
            <ul class="llimgs">
                {{range .Data.Followers}}
                <li><img src="{{.GetGravatarUrl `32`}}"/></li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
    $(".dofollow").click(function () {
        var btn = $(this);
        btn.attr("disabled", true).text("关注中...")
        $.ajax({
            url: "/user/" + btn.attr("data-uid") + "/follow",
            type: "post",
            dataType: "json",
            success: function (r) {
                if (r && r.success){
                    btn.text("已关注");
                }else {
                    btn.text("关注");
                    btn.removeAttr("disabled");
                    alert(r.errors)
                }
            }
        });
    });
</script>
{{end}}