{{define "title"}}{{.Model.Name}} - {{end}}

{{define "head"}}{{end}}

{{define "body"}}
<div>
    <div class="main">
        <div class="bbox base-uinfo">
            <div class="ifo clearfix">
                <div class="avatar"><img src="{{.Model.GetGravatarUrl `128`}}"/></div>
                <div class="detail">
                    <p class="name">{{.Model.Name}}</p>
                    <p>关注好友 {{.Model.FriendCount}} | 粉丝 {{.Model.FollowerCount}} | 链接 {{.Model.LinkCount}} </p>
                    <p>关注话题 {{.Model.FtopicCount}} | 参与话题 {{.Model.TopicCount}}</p>
                </div>
            </div>
            <div class="edi clearfix">
                {{if .Model.IsMe}}
                <a class="btn disabled" href="javascript:" disabled="disabled">这是你自己</a>
                {{else}}
                    {{if .Model.IsFriend}}
                    <a class="btn btn-info dounfollow" href="javascript:" data-id="{{.Model.Id}}" data-ftype="user" data-atype="unfollow"><i class="icon-random icon-white"></i> 互相关注</a>
                    {{else}}
                      {{if .Model.IsFollowed}}
                      <a class="btn btn-info dounfollow" href="javascript:" data-id="{{.Model.Id}}" data-ftype="user" data-atype="unfollow">已关注</a>
                      {{else}}
                      <a class="btn btn-primary dofollow" href="javascript:" data-id="{{.Model.Id}}" data-ftype="user" data-atype="follow"><i class="icon-plus icon-white"></i> 关注</a>
                      {{end}}
                    {{end}}
                {{end}}
            </div>
        </div>

        <div class="urllist">
        {{template "link-list" .Data.Links}}
        {{template "loadmorelink" .Data.HasMoreLink}}
        </div>

    </div>
    <div class="side">
        <div class="sbox">
            <div class="title">关注 {{.Model.FriendCount}} 人</div>
            <div class="llimgs clearfix">
                {{range .Data.Friends}}
                <a class="i a-pop-info" data-infourl="/user/{{.Id}}/pbox-info" href="/user/{{.Id}}">
                    <img src="{{.GetGravatarUrl `32`}}"/>
                </a>
                {{end}}
            </div>
        </div>
        <div class="sbox clearfix">
            <div class="title">粉丝 {{.Model.FollowerCount}} 人</div>
            <div class="llimgs">
                {{range .Data.Followers}}
                <a class="i a-pop-info" data-infourl="/user/{{.Id}}/pbox-info" href="/user/{{.Id}}">
                    <img src="{{.GetGravatarUrl `32`}}"/></a>
                {{end}}
            </div>
        </div>
        <div class="sbox clearfix">
            <div class="title">关注 {{.Model.FtopicCount}} 话题</div>
            <div class="llimgs">
                {{range .Data.FollowTopics}}
                <a class="i a-pop-info" data-infourl="/topic/pbox-info?t={{.Name}}" href="/t/{{.Name}}">
                    <img src="{{.PicPath 32}}"/></a>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
    oh.use('user-page');
</script>
{{end}}