
{{define "head"}}
{{end}}

{{define "body"}}
<div class="">
    <h3>话题列表</h3>
    <div class="pagination"></div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>名称</th>
          <th>链接数</th>
          <th>关注</th>
          <th>点击</th>
          <th>图片</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{range .Data.TopicList}}
        <tr>
          <td><a href="/t/{{.Name}}">{{.Id}}</a></td>
          <td class="editable" data-url="/_golink_admin/{{.Id}}/topic_editname", data-id="{{.Id}}">{{.Name}}</td>
          <td>{{.LinkCount}}</td>
          <td>{{.FollowerCount}}</td>
          <td>{{.ClickCount}}</td>
          <td>
            <img src="{{.PicPath 32}}" style="width:16px;height:16px;" />
          </td>
          <td>
            <input class="topic-img-upload" type="file" name="files[]" data-url="/topic/{{.Id}}/upimg" multiple>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <div class="pagination"></div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
oh.use('topic');

oh.use(['jquery', 'jquery.pagination', 'jquery.editable'], function ($) {
    $(".pagination").pagination({{.Data.TopicCount}}, {
        link_to: "?page=__id__",
        items_per_page:{{.Data.Pagesize}},
        current_page:{{.Data.Page}},
    });


    // 行内编辑话题名
    $('.editable').editable('/_golink_admin/topic_editname', {
      name: 'name',
      submit: '确定',
      cancel: '取消',
      tooltip   : '点击进行编辑...',
      ajaxoptions: {dataType: 'json'},
      submitdata : function(value, settings) {
        return {id: $(this).attr('data-id')};
      },
      callback : function(value, settings) {
        var v;
        if (value.success) {
          v = value.name;
        } else {
          oh.Msg.error(value.errors);
          v = this.revert;
        }
        $(this).html(v);
      }
    });

});

</script>
{{end}}