
{{define "head"}}
{{end}}

{{define "body"}}
<div class="">
    <h3>话题列表</h3>
    <div class="pagination"></div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>名称</th>
          <th>链接数</th>
          <th>关注</th>
          <th>点击</th>
          <th>图片</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{range .Data.TopicList}}
        <tr>
          <td>{{.Id}}</td>
          <td><a href="/t/{{.Name}}">{{.Name}}</a></td>
          <td>{{.LinkCount}}</td>
          <td>{{.FollowerCount}}</td>
          <td>{{.ClickCount}}</td>
          <td>
            <img src="{{.PicPath 32}}" style="width:16px;height:16px;" />
          </td>
          <td>
            <input class="topic-img-upload" type="file" name="files[]" data-url="/topic/{{.Id}}/upimg" multiple>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <div class="pagination"></div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
oh.use('topic');

oh.use(['jquery', 'jquery.pagination'], function ($) {
    $(".pagination").pagination({{.Data.TopicCount}}, {
        link_to: "?page=__id__",
        items_per_page:{{.Data.Pagesize}},
        current_page:{{.Data.Page}},
    });
});

</script>
{{end}}