{{define "title"}}{{end}}

{{define "head"}}{{end}}

{{define "body"}}
	<div class="main">
		<div class="page-header">
			<h1>关于觅链 [<b style="color:green;">mi</b><b style="color:#A31515;">lnk</b>]</h1>
		</div>
		<p>在这个<a target="_blank" href="http://blog.est.im/post/33020945266">信息过载非常严重</a>的互联网世界里，怎样获取自己需要的精品内容，已经是一个亟待解决的问题。</p>
		<p>觅链就是一个社交内容聚合平台，让你可以高效的获取你所关注的精品内容，同时可以发掘一些你从未关注的精品内容。而这些精品内容都是由和你一样在觅链这个平台上的觅友们一起创造与决定的。</p>
	</div>
	<div class="side">
	</div>
{{end}}

{{define "footer"}}{{end}}