{{define "head"}}{{end}}

{{define "body"}}
    <div class="main urllist">
      <ul class="nav nav-pills">
        <li class="active"><a href="###">热门</a></li>
        <li><a href="#">最新</a></li>
        <li><a href="#">热议</a></li>
        <li><a href="#">得分</a></li>
        <li><a href="#">争议</a></li>
      </ul>
      {{range .Data.Links}}
      <div class="ulitem clearfix">
        <div class="">
          <div class="vote">
            <a class="icon-thumbs-up" href="javascript:"></a>
            <span class="num">{{.VoteUp}}</span>
            <a class="icon-thumbs-down" href="javascript:"></a>
          </div>
          <div class="ulinfo">
            <a class="avatar" href="/user/{{.User.Id}}"><img src="{{.User.GetGravatarUrl `32`}}" /></a>
            <a class="title" href="{{.Context}}" target="_blank">{{.Title}}</a>
            <p class="ino">
              <i class="stime" ut="{{.CreateTime.Unix}}">{{.SinceTime}}</i> 
              <a href="/user/{{.User.Id}}">{{.User.Name}}</a> 分享{{if .Topics}}于 <span class="tags">
                {{range .TopicList}}
                <a href="/t/{{.}}">{{.}}</a>
                {{end}}
              </span>
              {{end}}
            </p>
            <p>
              <a href="/link/{{.Id}}" target="_blank">
                <i class="icon-comment"></i>
                {{if .CommentCount}}{{.CommentCount}}评论{{else}}暂无评论{{end}}</a>
            </p>
          </div>
        </div>
        <div class=""></div>
      </div>
      {{end}}
    </div>
    <div class="side">
      <div class="w-new-link"> <a class="btn btn-success btn-large" href="/link/submit">我要提交一个链接</a> </div>
      {{template "bookmark-share"}}
    </div>
{{end}}

{{define "footer"}}{{end}}