{{define "title"}}话题 — {{end}}

{{define "head"}}{{end}}

{{define "body"}}
<div>
    <div class="main">
        <h2>热门话题</h2>
        <ul class="thumbnails">
        {{range .Model}}
        <li class="span2 thumbnail">
            <div class="avatar"><img src="{{.PicPath 64}}"/></div>
            <div class="detail">
                <a class="name" href="/t/{{.Name}}">{{.Name}}</a>
                <p>链接数 {{.LinkCount}} | 关注者 {{.FollowerCount}}</p>
                <p>{{.Description}}</p>
                <!-- <input id="fileupload" type="file" name="files[]" data-url="/topic/{{.Id}}/upimg" multiple> -->
            </div>
        </li>
        {{end}}
        </ul>
    </div>
    <div class="side">

    </div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
</script>
{{end}}