{{define "title"}}话题 — {{end}}

{{define "head"}}
<link href="/assets/css/topics.css" rel="stylesheet" />
{{end}}

{{define "body"}}
<div>
    <div class="main">
        <div class="page-header">
            <h3>热门话题</h3>
        </div>
        <ul class="hottopics thumbnails">
        {{range .Model}}
        <li class="span4 thumbnail">
            <a class="a-pop-info" data-infourl="/topic/pbox-info?t={{.Name}}" href="/t/{{.Name}}">
                <img src="{{.PicPath 64}}"/></a>
            <div class="d">
                <a class="n" href="/t/{{.Name}}">{{.Name}}</a>
                <p>链接数 {{.LinkCount}} | 关注者 {{.FollowerCount}}</p>
                <p>{{.Description}}</p>
                <!-- <input id="fileupload" type="file" name="files[]" data-url="/topic/{{.Id}}/upimg" multiple> -->
            </div>
        </li>
        {{end}}
        </ul>
    </div>
    <div class="side">
      <div class="sbox w-new-link"> <a class="btn btn-success btn-large" href="/link/submit">我要提交一个链接</a> </div>
      <div class="sbox center">
        {{template "bookmark-share"}}
      </div>
      <div class="sbox">
        {{template "usermenu" .}}
      </div>
    </div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
</script>
{{end}}