<div class="pib puinfo">
    <a class="pic" href="/t/{{.Model.Name}}">
        <img src="{{.Model.PicPath 64}}">
    </a>
    <div class="ma">
        <a class="nm" href="/t/{{.Model.Name}}">{{.Model.Name}}</a>
        <strong>{{.Model.LinkCount}}</strong> 个链接 <br/>
        <strong>{{.Model.FollowerCount}}</strong> 关注者 
    </div>
    <div class="ed">
        {{if .Model.IsFollowed}}
        <a class="btn btn-info btn-small dounfollow" href="javascript:" data-id="{{.Model.Id}}" data-ftype="topic" data-atype="unfollow"><i class="icon-ok icon-white"></i> 已关注</a>
        {{else}}
        <a class="btn btn-success btn-small dofollow" href="javascript:" data-id="{{.Model.Id}}" data-ftype="topic" data-atype="follow"><i class="icon-plus icon-white"></i> 关注</a>
        {{end}}
    </div>
</div>