{{define "head"}}{{end}}

{{define "body"}}
<div>
    <div class="main">
        <div class="bbox base-uinfo">
            <div class="ifo clearfix">
                <div class="avatar"><img src="{{.Model.PicPath}}"/></div>
                <div class="detail">
                    <p class="name">{{.Model.Name}}</p>
                    <p>链接数 {{.Model.LinkCount}} | 关注者 {{.Model.FollowerCount}}</p>
                    <input id="fileupload" type="file" name="files[]" data-url="/topic/{{.Model.Id}}/upimg" multiple>
                </div>
            </div>
            <div class="edi clearfix">
                <a class="btn btn-primary dofollow" href="javascript:" data-uid="{{.Model.Id}}"><i class="icon-plus icon-white"></i> 关注</a>
            </div>
        </div>

        <div class="bbox urllist">
        </div>

    </div>
    <div class="side">
        <div class="sbox clearfix">
            <div class="title">关注者 {{.Model.FollowerCount}} 人</div>
            <ul class="llimgs">
                {{range .Data.Followers}}
                <li><img src="{{.GetGravatarUrl `32`}}"/></li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
    $(".dofollow").click(function () {
        var btn = $(this);
        btn.attr("disabled", true).text("关注中...")
        $.ajax({
            url: "/topic/" + btn.attr("data-uid") + "/follow",
            type: "post",
            dataType: "json",
            success: function (r) {
                if (r && r.success){
                    btn.text("已关注");
                }else {
                    btn.text("关注");
                    btn.removeAttr("disabled");
                    alert(r.errors)
                }
            }
        });
    });
</script>
<script src="/assets/js/lib/jquery.ui.widget.js"></script>
<script src="/assets/js/lib/jquery.fileupload.js"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        paramName: 'topic-image',
        done: function (e, data) {
            $.each(data.result, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>
{{end}}