{{define "title"}}{{.Model.Name}} 话题 — {{end}}

{{define "head"}}{{end}}

{{define "body"}}
<div>
    <div class="main">
        <div class="bbox base-uinfo">
            <div class="ifo clearfix">
                <div class="avatar"><img src="{{.Model.PicPath}}"/></div>
                <div class="detail">
                    <p class="name">{{.Model.Name}}</p>
                    <p>链接数 {{.Model.LinkCount}} | 关注者 {{.Model.FollowerCount}}</p>
                    <!-- <input id="fileupload" type="file" name="files[]" data-url="/topic/{{.Model.Id}}/upimg" multiple> -->
                </div>
            </div>
            <div class="edi clearfix">
                {{if .Model.IsFollowed}}
                <a class="btn btn-info dounfollow" href="javascript:" data-id="{{.Model.Id}}" data-ftype="topic" data-atype="unfollow"><i class="icon-ok icon-white"></i> 已关注</a>
                {{else}}
                <a class="btn btn-primary dofollow" href="javascript:" data-id="{{.Model.Id}}" data-ftype="topic" data-atype="follow"><i class="icon-plus icon-white"></i> 关注</a>
                {{end}}
            </div>
        </div>

	    <ul class="nav nav-pills">
			<li id="order-top"><a href="?">热门</a></li>
			<li id="order-later"><a href="?srt=later">最新</a></li>
			<li id="order-hot"><a href="?srt=hot">热议</a></li>
			<li id="order-vote"><a href="?srt=vote">得分</a></li>
			<script type="text/javascript"> G("order-{{.Data.Order}}").className += "active";</script>
	    </ul>

        <div class="urllist">
        {{template "link-list" .Data.Links}}
        {{template "loadmorelink" .Data.HasMoreLink}}
        </div>

    </div>
    <div class="side">
        <div class="sbox clearfix">
            <div class="title">关注者 {{.Model.FollowerCount}} 人</div>
            <div class="llimgs">
                {{range .Data.Followers}}
                <a class="a-pop-info" data-infourl="/user/{{.Id}}/pbox-info" href="/user/{{.Id}}"><img src="{{.GetGravatarUrl `32`}}"/></a>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
    oh.use('topic');
</script>
{{end}}
