{{define "head"}}{{end}}

{{define "body"}}
<div>
    <div class="main">
        <div class="bbox base-uinfo">
            <div class="ifo clearfix">
                <div class="avatar"><img src="{{.Model.PicPath}}"/></div>
                <div class="detail">
                    <p class="name">{{.Model.Name}}</p>
                    <p>链接数 {{.Model.LinkCount}} | 关注者 {{.Model.FollowerCount}}</p>
                    <input id="fileupload" type="file" name="files[]" data-url="/topic/{{.Model.Id}}/upimg" multiple>
                </div>
            </div>
            <div class="edi clearfix">
                <a class="btn btn-primary dofollow" href="javascript:" data-uid="{{.Model.Id}}"><i class="icon-plus icon-white"></i> 关注</a>
            </div>
        </div>

        <div class="bbox urllist">
        </div>

    </div>
    <div class="side">
        <div class="sbox clearfix">
            <div class="title">关注者 {{.Model.FollowerCount}} 人</div>
            <ul class="llimgs">
                {{range .Data.Followers}}
                <li><img src="{{.GetGravatarUrl `32`}}"/></li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{end}}

{{define "footer"}}
<script type="text/javascript">
    oh.use('topic');
</script>
{{end}}