{{define "title"}}收到的评论 - {{end}}

{{define "head"}}
<link href="/assets/css/inbox.css" rel="stylesheet" />
{{end}}

{{define "body"}}
    <div class="main comment-inbox">
        <div class="page-header">
            <h4>收到的评论</h4>
        </div>
        <div class="total">共收到 {{.Data.CommentCount}} 条评论</div>
        {{if .Data.CommentList}}
        <ul class="list">
            {{range .Data.CommentList}}
            <li>
                <a class="avatar a-pop-info" data-infourl="/user/{{.User.Id}}/pbox-info" href="/user/{{.User.Id}}"><img src="{{.User.GetGravatarUrl `48`}}" /></a>
                <div class="comment clearfix">
                    <div class="c">
                        <a class="a-pop-info" data-infourl="/user/{{.User.Id}}/pbox-info" href="/user/{{.User.Id}}">{{.User.Name}}</a>: 
                        {{.HtmlContent}}
                    </div>
                    <div class="info">&gt; 评论 <a href="/link/{{.Link.Id}}#cm-{{.Id}}">{{.Link.Title}}</a></div>
                </div>
            </li>
            {{end}}
        </ul>
        {{else}}
        <div class="alert alert-info">还没收到任何评论</div>
        {{end}}
    </div>
    <div class="side">
      <div class="sbox w-new-link"> <a class="btn btn-success btn-large" href="/link/submit">我要提交一个链接</a> </div>
      <div class="sbox center">
        {{template "bookmark-share"}}
      </div>
      <div class="sbox">
        {{template "usermenu" .}}
      </div>
    </div>
{{end}}

{{define "footer"}}{{end}}