<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8">
    <title>分发</title>
    <meta name="description" content="分享、发现精彩的互联网">
    <meta name="author" content="Net4 Team">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    {{template "head"}}
  </head>

  <body>
    <div id="header">
      <div class="container header">
        <a class="logo" href="/">分 发</a>
        <div class="user-status">
        {{if .Data.user}}
          <div class="btn-group">
            <button class="btn">{{.Data.user.Name}}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">我的主页</a></li>
              <li><a href="/user/setting">账号设置</a></li>
              <li><a href="#">隐私设置</a></li>
              <li class="divider"></li>
              <li><a href="/user/logout">退出登陆</a></li>
            </ul>
          </div>
        {{else}}
        <a href="/user/login">登陆</a>
        <a href="/user/reg">注册</a>
        {{end}}
        </div>
        <ul class="nav-item">
          <li class="active"><a href="/">首页</a></li>
          <li><a href="/home/about">关于</a></li>
          <li><a href="/home/contact">联系</a></li>
        </ul>
      </div>
    </div>

    <div id="content" class="container content">
      {{template "body" .}}
    </div> <!-- /container -->

    <div id="footer">
      <p><a href="/home/about">关于本站</a> | <a href="/home/disclaimer">免责声明</a> | <a href="/home/partner">合作伙伴</a> | <a href="/home/contact">联系信息</a></p> 
      <p>©2012 Net4 Team&nbsp;&nbsp;
         Power By <a target="_blank" href="http://golang.org">golang</a> And <a target="_blank" href="http://github.com/QLeelulu/goku">goku</a></p>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.7.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    {{template "footer"}}
  </body>
</html>
{{define "bookmark-share"}}
<div class="sbox">
<a class="btn" href="javascript:(function(w,d){var t=d.title,u=d.location.href;w.open('http://127.0.0.1:8080/link/submit?url='+encodeURIComponent(u)+'&title='+encodeURIComponent(t.split(' - ')[0]));}(window,document));">分享到分发</a>
<!-- <a class="btn" href="javascript:(function(w,d,a){ if(w[a+'_fun__submit']){w[a+'_fun__submit']();return} var c=d.createElement('script');c.type='text/javascript';c.id=a+'__script__tag';c.src='http://127.0.0.1:8080/assets/js/bookmark-submit.js';var h=d.body.appendChild(c);}(window,document, '__ohlala__'));">分享到分发</a> -->
<br/>（把这个拖到你的浏览器书签栏）
</div>
{{end}}