<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8">
    <title>分发</title>
    <meta name="description" content="分享、发现精彩的互联网">
    <meta name="author" content="Net4 Team">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <style>
      
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  </head>

  <body>
    <div id="header">
      <div class="container header">
        <a class="logo" href="/">分 发</a>
        <div class="user-status">
        {{if .Data.user}}
        你好，{{.Data.user.Email}}
        {{else}}
        <a href="/user/login">登陆</a>
        <a href="/user/reg">注册</a>
        {{end}}
        </div>
        <ul class="nav-item">
          <li class="active"><a href="/">首页</a></li>
          <li><a href="/home/about">关于</a></li>
          <li><a href="/home/contact">联系</a></li>
        </ul>
      </div>
    </div>

    <div id="content" class="container content">
      {{.Body}}
    </div> <!-- /container -->

    <div id="footer">
      <p><a href="/home/about">关于本站</a> | <a href="/home/disclaimer">免责声明</a> | <a href="/home/partner">合作伙伴</a> | <a href="/home/contact">联系信息</a></p> 
      <p>©2011 net4Team&nbsp;&nbsp;
         Power By <a target="_blank" href="http://golang.org">golang</a> And <a target="_blank" href="http://github.com/QLeelulu/goku">goku</a></p>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.7.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

  </body>
</html>
