<!DOCTYPE html>
{{call .Globals.htmlSafe "<!--"}}
            _    _       _    
           (_)  | |     | |   
  _ __ ___  _   | |_ __ | | __
 | '_ ` _ \| |  | | '_ \| |/ /
 | | | | | | |  | | | | |   ( 
 |_| |_| |_|_|  |_|_| |_|_|\_\
                              
{{call .Globals.htmlSafe "-->"}}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{template "title" .}}觅链 - 分享、发现精彩的互联网</title>
    <meta name="description" content="分享、发现精彩的互联网">
    <meta name="author" content="Net4 Team">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    {{call .Globals.htmlSafe "<!--[if lt IE 9]>"}}
      <script src="/assets/js/lib/html5.js"></script>
    {{call .Globals.htmlSafe "<![endif]-->"}}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <script type="text/javascript">
      var UnixNow = {{call .Globals.UnixNow}}, 
          G = function(id){ return document.getElementById(id); },
          Active = function (id, _default) {
            var a = G(id) ? G(id) : G(_default);
            if (a) { a.className += "active"; }
          };
    </script>    
    {{template "head"}}
  </head>

  <body>
    <div id="header">
      <div class="container header">
        <a class="logo" href="/">觅链</a>
        <div class="user-status">
        {{if .Data.user}}
          <div class="btn-group">
            <a class="btn" href="/user/{{.Data.user.Id}}">{{.Data.user.Name}}</a>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/">我的主页</a></li>
              <li><a href="/user/setting">账号设置</a></li>
              <!-- <li><a href="#">隐私设置</a></li> -->
              <li class="divider"></li>
              <li><a href="/user/logout">退出登陆</a></li>
            </ul>
          </div>
        {{else}}
        <a href="/user/login">登陆</a>
        <a href="/user/reg">注册</a>
        {{end}}
        </div>
        <ul class="nav-item">
          <li id="tb-home"><a href="/">首页</a></li>
          <li id="tb-discover"><a href="/discover">发现</a></li>
          <li id="tb-topic"><a href="/topic">话题</a></li>
          <script type="text/javascript">G('tb-'+('{{.Data.TopTab}}' || 'home')).className += "active";</script>
        </ul>
      </div>
    </div>

    <div id="content" class="container content">
      {{template "body" .}}
    </div> <!-- /container -->

    <div id="footer">
      <p><a href="/home/about">关于本站</a> | <a href="/home/disclaimer">免责声明</a> | <a href="/home/partner">合作伙伴</a> | <a href="/home/contact">联系信息</a></p> 
      <p>©2012 Net4 Team&nbsp;&nbsp;
         Power By <a target="_blank" href="http://golang.org">golang</a> And <a target="_blank" href="http://github.com/QLeelulu/goku">goku</a></p>

      <a href="https://github.com/QLeelulu/ohlala/issues" target="_blank" id="feedback_tab"><img src="/assets/img/gray_right.png"></a>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="/assets/js/lib/jquery-1.7.2.min.js"></script>
    <script src="/assets/js/lib/bootstrap.min.js"></script> -->
    <script src="/assets/js/main.js"></script>
    <div style="display:none;"><script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd81e8eaafa983d3588b2f3109d830736' type='text/javascript'%3E%3C/script%3E"));
    </script></div>
    {{template "footer"}}
  </body>
</html>

{{define "bookmark-share"}}
<div class="sbox">
<a id="tool-bookmark-share-btn" class="btn btn-primary" style="cursor:move;position:relative;" href="">分享到觅链
  <span class="drag-arrow"></span></a>
<script type="text/javascript">
  document.getElementById('tool-bookmark-share-btn').href = "javascript:(function(w,d){var t=d.title,u=d.location.href;w.open('http://"+location.host+"/link/submit?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t.split(' - ')[0]));}(window,document));"
</script>
<!-- <a class="btn" href="javascript:(function(w,d,a){ if(w[a+'_fun__submit']){w[a+'_fun__submit']();return} var c=d.createElement('script');c.type='text/javascript';c.id=a+'__script__tag';c.src='http://127.0.0.1:8080/assets/js/bookmark-submit.js';var h=d.body.appendChild(c);}(window,document, '__ohlala__'));">分享到享现</a> -->
<br/>（把这个拖到你的浏览器书签栏）
</div>
{{end}}

<!-- 链接列表模板 -->
{{define "link-list"}}
  {{range .}}
  {{if not .Deleted}}
  <div class="ulitem clearfix" data-id="{{.Id}}">
    <div class="">
      <div class="vote">
        <a class="icon-thumbs-up up {{if .VoteUped}}on{{end}}" href="javascript:"></a>
        <span class="num">{{.VoteScore}}</span>
        <a class="icon-thumbs-down down {{if .VoteDowned}}on{{end}}" href="javascript:"></a>
      </div>
      <div class="ulinfo">
        <a class="avatar a-pop-info" data-infourl="/user/{{.User.Id}}/pbox-info" href="/user/{{.User.Id}}"><img src="{{.User.GetGravatarUrl `32`}}" /></a>
        <a class="title" href="{{.Context}}" target="_blank">{{.Title}}</a>
        {{if and .IsUrl .Host}}
        <span class="host">(<a href="/host/show/{{.Host}}/">{{.Host}}</a>)</span>
        {{end}}
        <p class="ino">
          <i class="stime" ut="{{.CreateTime.Unix}}" title="{{.CreateTime.Format `2006-01-02 15:04`}}">{{.SinceTime}}</i> 
          <a  class="a-pop-info" data-infourl="/user/{{.User.Id}}/pbox-info" href="/user/{{.User.Id}}">{{.User.Name}}</a> 分享{{if .Topics}}于 <span class="tags">
            {{range .TopicList}}
            <a class="a-pop-info" data-infourl="/topic/pbox-info?t={{.}}" href="/t/{{.}}">{{.}}</a>
            {{end}}
          </span>
          {{end}}
        </p>
        <p class="edi">
          <a href="/link/{{.Id}}" target="_blank">
            <i class="icon-comment"></i>{{if .CommentCount}} <b>{{.CommentCount}}</b> {{else}}{{end}}评论</a>
          <a href="javascript:" class="spread"><i class="icon-retweet"></i>扩散</a>
          {{if .SharedByMe}}
          <a href="javascript:" class="link-del" data-url="/link/{{.Id}}/ajax-del"><i class="icon-trash"></i>删除</a>
          {{end}}
        </p>
      </div>
    </div>
    <div class=""></div>
  </div>
  {{end}}
  {{end}}
{{end}}


<!-- 用户菜单 -->
{{define "usermenu"}}
{{if .Data.user}}
<ul class="nav nav-list">
  <li id="um-cm-inbox"><a href="/comment/inbox"><i class="icon-comment"></i> 收到的评论</a></li>
  <li id="um-follows"><a href="/user/follows"><i class="icon-eye-open"></i> 我关注的人</a></li>
  <li id="um-fans"><a href="/user/fans"><i class="icon-user"></i> 我的粉丝</a></li>
  <!-- <li id="um-tags"><a href="/user/topic"><i class="icon-tags"></i> 我关注的话题</a></li> -->
  <script type="text/javascript">Active({{.Data.UserMenu}});</script>
</ul>
{{end}}
{{end}}


<!-- 加载更多链接按钮 -->
{{define "loadmorelink"}}
<a id="loadmorelink" class="btn btn-large" href="javascript:" data-url="{{.}}">加载更多链接</a>
{{end}}

<!-- 加载更多链接按钮 -->
{{define "order-tab"}}
<ul class="nav nav-pills">
  <li id="order-hot"><a href="?">热门</a></li>
  <li id="order-time"><a href="?o=time">最新</a></li>
  <li id="order-ctvl"><a href="?o=ctvl">争议</a></li>
  <li id="order-hotc"><a href="?o=hotc">热议</a></li>
  <li id="order-vote"><a href="?o=vote">得分</a></li>
  <!-- <li id="order-xxx"><a href="#">争议</a></li> -->
  <script type="text/javascript"> G("order-{{.Data.Order}}").className += "active";</script>
</ul>
{{end}}
