{{range .Data.Links}}
  {{if not .Deleted}}
  <div class="ulitem clearfix" data-id="{{.Id}}">
    <div class="">
      <div class="vote">
        <a class="icon-thumbs-up up {{if .VoteUped}}on{{end}}" href="javascript:" rel="tooltip" data-placement="right" data-original-title="顶起来"></a>
        <span class="num">{{.VoteScore}}</span>
        <a class="icon-thumbs-down down {{if .VoteDowned}}on{{end}}" href="javascript:" rel="tooltip" data-placement="right" data-original-title="踩下去，不会显示你的表态"></a>
      </div>
      <div class="ulinfo">
        <a class="avatar a-pop-info" data-infourl="/user/{{.User.Id}}/pbox-info" href="/user/{{.User.Id}}"><img src="{{.User.GetGravatarUrl `32`}}" /></a>
        <img class="favicon" src="/_/favicons?domain={{.Host}}" />
        <a class="link-url" href="{{.Context}}" target="_blank" data-id="{{.Id}}">{{.Title}}</a>
        {{if and .IsUrl .Host}}
        <span class="host">(<a href="/host/show/{{.Host}}/">{{.Host}}</a>)</span>
        {{end}}
        <p class="ino">
          <i class="stime" ut="{{.CreateTime.Unix}}" title="{{.CreateTime.Format `2006-01-02 15:04`}}">{{.SinceTime}}</i> 
          <a  class="a-pop-info" data-infourl="/user/{{.User.Id}}/pbox-info" href="/user/{{.User.Id}}">{{.User.Name}}</a> 分享{{if .Topics}}于 <span class="tags">
            {{range .TopicList}}
            <a class="a-pop-info" data-infourl="/topic/pbox-info?t={{.}}" href="/t/{{.}}">{{.}}</a>
            {{end}}
          </span>
          {{end}}
        </p>
        <p class="edi">
          <a href="/link/{{.Id}}" target="_blank">
            <i class="icon-comment"></i>{{if .CommentCount}} <b>{{.CommentCount}}</b> {{else}}{{end}}评论</a>
          <a href="javascript:" class="spread"><i class="icon-retweet"></i>扩散</a>
          {{if .SharedByMe}}
          <a href="javascript:" class="link-del" data-url="/link/{{.Id}}/ajax-del"><i class="icon-trash"></i>删除</a>
          {{else}}
          <a href="javascript:" class="do-fav {{if .Favorited}}faved{{end}}"><i class="icon-heart"></i><span>{{if .Favorited}}已{{end}}收藏</span></a>
          {{end}}
        </p>
      </div>
    </div>
    <div class=""></div>
  </div>
  {{end}}
{{end}}